/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 966px;
}

@media screen and (max-width: 997px) {
  .heroBanner {
    padding: 2rem;
    text-align: center;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 997px) {
  .heroBanner {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
  }
}

.container__left {
  margin: 0 auto;
  padding: 10rem;
  width: 100%;
}

.container__right {
  max-width: 400px;
}

.buttons {
  font-family: mulish;
}
